.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 991px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px 2%;
  background-color: #fff;
  -webkit-box-shadow: 1px 3px 5px #ccc;
          box-shadow: 1px 3px 5px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

nav i {
  font-size: 24px;
  color: #727475;
  cursor: pointer;
  margin: 0 15px;
}

nav .logo {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 120px;
  margin-left: 20px;
}

nav .input {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .input input {
  width: 90%;
  border: none;
  background: #eee;
  padding: 12px 30px;
  border-radius: 50px;
}

nav .input input:focus {
  outline: none;
}

nav .input i {
  position: relative;
  right: 60px;
  font-size: 18px;
}

@media (max-width: 991px) {
  nav .input {
    display: none;
  }
}

nav .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

nav .profile img {
  width: 40px;
  border-radius: 50%;
}

aside {
  width: 82px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  margin-top: 60px;
  overflow: hidden;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  z-index: -1;
}

aside ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside ul li {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

aside ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4834d4;
  text-decoration: none;
}

aside ul li a div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

aside ul li a div i {
  font-size: 22px;
  color: #727475;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

aside ul li a span {
  color: #000;
}

aside.active {
  width: 250px;
}

@media (max-width: 500px) {
  aside {
    width: 0;
  }
}

.content {
  height: 91vh;
  margin-left: 82px;
  margin-top: 80px;
  background-color: #f1f1f1;
  position: absolute;
  top: -20px;
  width: calc(100% - 82px);
  padding: 10px;
  z-index: -2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 500px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
}

.content .row {
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 991px) {
  .content .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .content .row {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.content .row h3 {
  font-size: 35px;
}

.content .row p {
  font-size: 20px;
}

.content .row .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding: 16px;
  color: #fff;
  height: 150px;
}

.content .row .box:nth-child(1) {
  background-color: #4834d4;
  width: 100%;
}

.content .row .box:nth-child(2) {
  background-color: #f0932b;
  width: 100%;
}

.content .row .box:nth-child(3) {
  background-color: #6ab04c;
  width: 100%;
}

.content .row .box:nth-child(4) {
  background-color: #eb4d4b;
  width: 100%;
}

@media (max-width: 500px) {
  .content .row .box {
    margin: 0;
  }
}

.content.active {
  margin-left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 500px) {
  .content.active {
    margin-left: 0px;
    width: 100%;
  }
}

.content .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .content .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content .row-2 .card {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content .row-2 .card .card-header {
  padding: 15px 30px;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.content .row-2 .card .card-header h3 {
  margin: 0;
}

.content .row-2 .card .card-header i {
  color: #000;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .row-2 .card .card-header i.change {
  color: #fff;
}

.content .row-2 .card .card-content {
  padding: 20px;
  overflow: hidden;
}

.content .row-2 .card .card-content table {
  border-collapse: collapse;
  width: 100%;
}

.content .row-2 .card .card-content table thead th {
  padding-bottom: 15px;
  text-align: left;
}

.content .row-2 .card .card-content table tbody td {
  border-top: 1px solid #f1f1f1;
  padding: 11px 0;
}

.content .row-2 .card .card-content table tbody td .dot i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

.content .row-2 .card .card-content table tbody td .dot .bg-blue {
  background-color: #4834d4;
}

.content .row-2 .card .card-content table tbody td .dot .bg-danger {
  background-color: #eb4d4b;
}

.content .row-2 .card .card-content table tbody td .dot .bg-warnning {
  background-color: orange;
}

.content .row-2 .card .card-content table tbody td .dot .bg-success {
  background-color: #6ab04c;
}

.content .row-2 .card .card-content table tbody td .dot .bg-success {
  background-color: #6ab04c;
}

.content .row-2 .progress {
  background-color: #fff;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border-radius: 10px;
  height: 100%;
}

.content .row-2 .progress .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding: 12px;
}

.content .row-2 .progress .d-flex {
  padding: 12px;
}

.content .row-2 .progress .d-flex .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .row-2 .progress .d-flex .main-prog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.content .row-2 .progress .d-flex .main-prog .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .row-2 .progress .d-flex .main-prog .progress {
  -webkit-box-shadow: 1px 3px 5px #ddd inset;
          box-shadow: 1px 3px 5px #ddd inset;
  display: block;
  width: 100%;
  height: 10px;
  background-color: #f1f1f1;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.content .row-2 .progress .d-flex .main-prog .progress span {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shadow {
  -webkit-box-shadow: 1px 3px 3px #DDD;
          box-shadow: 1px 3px 3px #DDD;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f1f1;
}

nav.change,
aside.change,
.row .box.change {
  background-color: #212529;
  -webkit-box-shadow: 1px 3px 3px #212529;
          box-shadow: 1px 3px 3px #212529;
}

.fa-moon.change,
.fa-bell.change,
.fa-bars.change {
  color: #fff;
}

aside ul li a i.change {
  color: #fff;
}

.input input.change {
  background: #f1f1f1;
}

aside span.change {
  color: #f1f1f1;
}

.content.change {
  background-color: #000;
}

.card.change,
.progress.change {
  background-color: #212529 !important;
  color: #f1f1f1;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */