nav {
    position: fixed;
    width: 100%;
    padding: 10px 2%;
    background-color: $light-bg;
    box-shadow: 1px 3px 5px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    i {
        font-size: 24px;
        color: $light-second-color;
        cursor: pointer;
        margin: 0 15px;
    }
    .logo {
        flex-basis: 25%;
        display: flex;
        align-items: center;
        img {
            width: 120px;
            margin-left: 20px;
        }
    }
    .input {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        input {
            width: 90%;
            border: none;
            background: $grey-light;
            padding: 12px 30px;
            border-radius: 50px;
            &:focus {
                outline: none;
            }
        }
        i {
            position: relative;
            right: 60px;
            font-size: 18px;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
    .profile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis: 25%;
        img {
            width: 40px;
            border-radius: 50%;
        }
    }
}
