$primary-color: #4834d4;
$success-color: #6ab04c;
$warning-color: #f0932b;
$danger-color: #eb4d4b;
$light-color: #212529;
$light-second-color: #727475;
$light-bg: #fff;
$light-second-bg: #f1f1f1;
$grey-light: #eee;
$dark: #000;
